body{
  background-color: #1A1A1A;
}
.nav-bar
{
  color: white;
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.nav-bar-item
{
  font-size: 30px;
  font-weight: bolder;
  height: 58px;
  width: 438px;
  background-color: #1A1A1A;
  text-align: center;
  border-radius: 18px;
  color: white;
  padding-top: 20px;
}
.active
{
  background-color: #9D6EF0;
}
:hover.nav-bar-item
{
  background-color: #9D6EF0;
}
.time
{
  font-size: 256px;
  font-weight: bolder;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.stop-watch-buttons
{
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right:40px;
}

.stop-item
{
  width: 228px;
  height: 84px;
  background-color: #1A1A1A;
  border: 1px solid #707070;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 4px;
  padding: 10px;
  margin-left: 50px;
}
:hover.stop-item
{
  background-color: #9D6EF0;
}

.timer-button
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timer-item
{
  border-radius: 100px;
  width: 88px;
  height: 86px;
  background-color: #1A1A1A;
  border: 1px solid #707070;
  font-size: 50px;
  color: white;
  font-weight: bolder;
}
.timer-text
{
  padding: 50px;
  font-size: 50px;
  color: white;
  font-weight: bolder;
}
.start-button
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-start
{
  width: 288px;
  height: 68px;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: #1A1A1A;
  border: 1px solid #707070;
  border-radius: 18px;
}
:hover.timer-item
{
  background-color: #9D6EF0;
}
:hover.timer-start
{
  background-color: #9D6EF0;
}

.message
{
  font-size: 56px;
  font-weight: bolder;
  text-align: center;
  color: white;
  margin-top: 50px;
}


.login
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.username-input
{
  width: 500px;
  height: 60px;
  background-color: #1A1A1A;
  border: 1px solid grey;
  border-radius: 18px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}
.login-button
{
  width: 400px;
  height: 50px;
  background-color: #1A1A1A;
  border: 1px solid grey;
  border-radius: 18px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 50px;
}
:hover.login-button
{
  background-color: #9D6EF0;

}

.head-user
{
  color:#9D6EF0;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}

